a{
    color: white !important;
}
td input {
    max-width: 100px !important;
}

#course-modal {
    display: none;
    width: 600px;
    height: 400px;
    margin: auto;
    background-color: white;

    border-radius: 16px;

    box-shadow: #00000020 0 0 20px;

    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    overflow: scroll;
}

#course-modal.visible {
    display: inline-block;
}

#modal-background {
    display: none;
}
#modal-background.visible {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    backdrop-filter: blur(2px);
    background-color: #00000008;
}

#course-modal h2 {
    background-color: #28a745;
    color: white;
    text-align: center;
    margin: 0;
    padding: 8px;
}

#course-modal .content {
    padding: 8px;
}

#course-modal input {
    display: block;
    width: 100%;
    max-width: unset;
}

#course-prerequisites {
    margin-bottom: 8px;
}

.prerequisite-row {
    margin-bottom: 4px;
}

/*
*The section below is responsible for the table view in the admin page
 */

#section-table-courses{
    margin: 25px 25% 25px 25%;
    display: flex;
    justify-content: center;
    border-color: #28a745;
    border-width: medium;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 25px;
    overflow-x: auto;
    min-width: 600px;

}

button.navbar-toggler{
    background-color: white;
    width: 40px;

}

table {
    justify-content: center;
    border-radius: 25px;
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    text-align: left;
    background-color: #f2f2f2;
    padding: 10px 20px 10px 5px;
}

td {
    padding: 8px;

    button{
        width: 75px;
    }
}


tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: rgba(75, 214, 75, 0.5);
}

button{
    background-color: white;
    border: 1px solid lightgray;
    width: 100%;
    border-radius: 10px;
    transition-duration: 0.4s;
}
div.form-buttons{
    text-align: center;

}

div.form-buttons button{
    width: 30%;
    margin: 5px;
    align-items: center;
}
button#course-modal-submit{
    background-color: #28a745;
    color: white;
}

button#course-modal-close{

}
.remove_button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(245, 10, 10);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: .3s;
    overflow: hidden;
    position: relative;

}

.svgIcon {
    width: 12px;
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.remove_button:hover {
    width: 140px;
    border-radius: 50px;
    transition-duration: .3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
    text-align: center;

    .svgIcon path {
        fill: rgb(255, 69, 69);
    }
}

.remove_button:hover .svgIcon {
    width: 50px;
    transition-duration: .3s;
    transform: translateY(60%);
}

.remove_button::before {
    position: absolute;
    top: -20px;
    content: "Delete";
    color: white;
    transition-duration: .3s;
    font-size: 2px;
}

.remove_button:hover::before {
    font-size: 13px;
    opacity: 1;
    transform: translateY(30px);
    transition-duration: .3s;
}