<include href="view/includes/header.html"></include>
<body>
<include href="/view/includes/navbar.html"></include>
<link rel="stylesheet" href="styles/admin.css">

<div id="section-table-courses">
    <table id="courses">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Placement</th>
                <th>Prerequisites</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<button id="add-course-btn">Add course</button>

<div id="modal-background"></div>
<div id="course-modal">
    <h2>Prerequisites</h2>
    <div class="content">
        <label for="course-name">Name</label>
        <input id="course-name">

        <label for="course-priority">Placement</label>
        <select id="course-priority">
            <option value="-2">Beginning</option>
            <option value="-1">Early</option>
            <option value="0">Middle</option>
            <option value="1">Late</option>
            <option value="2">End</option>
        </select>

        <h3>Prerequisites</h3>
        <div id="course-prerequisites"></div>
        <button id="course-modal-add-prerequisite">Add Prerequisite</button>

        <hr>

        <div class="form-buttons">
            <button id="course-modal-submit">Submit</button>
            <button id="course-modal-close">Cancel</button>
        </div>
    </div>
</div>

<script src="scripts/admin.js"></script>

</body>
</html>
