<include href="view/includes/header.html"></include>
<body>
<include href="/view/includes/navbar.html"></include>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-sm-4">
            <div class="card">
                <h2>SDEV 106</h2><br><br>
                <h2> Front-End Web Development</h2>

            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h2>SDEV 201</h2><br><br>
                <h2>Database Fundamentals</h2>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <h2>SDEV 485</h2><br><br>
                <h2> Capstone 1</h2>
            </div>
        </div>
    </div>
</div>
</body>
</html>
