<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Schedule</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="styles/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap JS and its dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<include href="/view/includes/navbar.html"></include>
<h1 class="text-center my-4">Your Schedule</h1>
<div class="container">
    <div class="row">
        <repeat group="{{ @schedule }}" key="{{ @quarter }}" value="{{ @courses }}">
            <div class="col-md-3 mb-4"> <!-- Divide into four columns -->
                <div class="schedule-card">
                    <div class="schedule-card-header">
                        {{ @quarter }}
                    </div>
                    <ul class="list-group list-group-flush">
                        <check if="{{ empty(@courses) }}">
                            <true>
                                <li class="schedule-list-group-item">No courses scheduled</l
                            </true>
                            <false>
                            <repeat group="{{ @courses }}" value="{{ @course }}">
                                <li class="schedule-list-group-item">{{ @course }}</li>
                            </repeat>
                            </false>
                        </check>
                    </ul>
                </div>
            </div>
        </repeat>
    </div>
</div>
</body>
</html>
